.App-Body {
  text-align: center;
  flex: 1;
  overflow: auto;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #282c34;
  color: white;
}
